<form action="/food_groups" method="post">
  <p>Create a New Food Group:</p>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="name">Food Group Name:</label><br>
  <input type='text' name='food_group[name]'/><br/>
  <label for="rating_out_of_ten">Rating Out of Ten:</label><br>
  <input type='text' name='food_group[rating_out_of_ten]'/><br/>
  <label for="perishable">Is it Perishable?</label><br>
  <input type='text' name='food_group[perishable]'/><br/>
  <input type='submit' value='Create Food Group'/>
</form>
