<h1>Welcome to Chef's Brews n Brunch</h1>

<ul>
  <li><a href="/breweries">Brewery Index</a></li>
  <li><a href="/breweries/new">New Brewery</a></li>
</ul>

<ul>
  <li><a href="/food_groups">Food Group Index</a></li>
  <li><a href="/food_groups/new">New Food Group</a></li>
</ul>
