<form action="/breweries/<%= @brewery.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <input type='text' name='brewery[title]' value="<%= @brewery.title %>"/><br/>
  <textarea name='brewery[description]'><%= @brewery.description %></textarea><br/>
  <input type='submit'/>
</form>