<form action="/breweries/<%= @brewery.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Update <%= @brewery.name %></p>
  <label for="name">Brewery Name:</label><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type='text' name='brewery[name]'/><br/>
  <label for="number_of_employees">Number of Employees:</label><br>
  <input type='text' name='brewery[number_of_employees]'/><br/>
  <label for="has_food">Does it Have Food:</label><br>
  <input type='text' name='brewery[has_food]'/><br/>
  <input type='submit' value='Update Brewery'/>
</form>
