<form action="/food_groups/<%= @food_group.id %>/foods" method="post">
  <p>Create a New Food:</p>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="name">Food Name:</label><br>
  <input type='text' name='food[name]'/><br/>
  <label for="number_in_stock">Number in Stock:</label><br>
  <input type='text' name='food[number_in_stock]'/><br/>
  <label for="in_stock">Is it in Stock?:</label><br>
  <input type='text' name='food[in_stock]'/><br/>
  <input type='submit' value='Create Food'/>
</form>
