<form action="/food_groups/<%= @food_group.id %>/foods" method="post">
  <p>Create a New Food:</p>
  <label for="name">Food Name:</label><br>
  <input type='text' name='food[name]'/><br/>
  <label for="number_of_food_items">Number of Food Items:</label><br>
  <input type='text' name='food[number_of_food_items]'/><br/>
  <label for="in_stock">Is it in Stock?:</label><br>
  <input type='text' name='food[in_stock]'/><br/>
  <input type='submit' value='Create Food'/>
</form>
