<a href="/breweries">Breweries Index</a>
<a href="/beers">Beers Index</a>

<h1>All Beers:</h1>
<% @beers.each do |beer| %>
  <p>Beer name: <%= beer.name %> |
    Beer ABV: <%= beer.abv %> |
    Is it an ale? <%= beer.is_an_ale %></p>
<% end %>
