<form action="/breweries/<%= @brewery.id %>/beers" method="post">
  <p>Create a New Beer:</p>
  <label for="name">Beer Name:</label><br>
  <input type='text' name='beer[name]'/><br/>
  <label for="ABV">ABV:</label><br>
  <input type='text' name='beer[abv]'/><br/>
  <label for="is_an_ale">Is it an Ale?:</label><br>
  <input type='text' name='beer[is_an_ale]'/><br/>
  <input type='submit' value='Create Beer'/>
</form>
